[submodule "prototype_julia/GeneticAlgorithms.jl"]
	path = prototype_julia/GeneticAlgorithms.jl
	url = git@github.com:WestleyArgentum/GeneticAlgorithms.jl.git
[submodule "prototype_python/deap"]
	path = prototype_python/deap
	url = git@github.com:DEAP/deap.git
